*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
    width: 1920px;
}

.wreaper{
    flex-direction: row;
    margin-left: 250px;
    margin-right: 250px;
    max-width: 1920px;
    font-family: 'Inter';
}

.flex-item{
    padding: 10px;
    color: white;
}

p{
    margin-top: 1em;

}




.header{
    text-align: center;
    margin-top: 80px;
    color: #242A56;
    font-size: 38px;
    font-family: 'Inter';
}




.flex-container1{
    display: flex ;
    margin-bottom: 54px;
    margin-top: 35px;
}

.text11{
    font-size: 26px;
    color: #393A56;
}

.text1{
    margin-top: 24px;
    width: 560px;
    height: 328px;
    color: #393A56;;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter';
    background-color: rgb(255, 255, 255);
    margin-bottom: 90px;
}







.flex-container2{
    margin-bottom: 100px;
    display: flex ;
}

.text22{
    font-size: 26px;
    color: #393A56;
}

.text2{
    margin-top: 24px;
    width: 560px;
    height: 328px;
    color: #393A56;;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter';
    background-color: rgb(255, 255, 255);
    margin-bottom: 90px;
}





.flex-container3{
    display: flex ;
    margin-bottom: 78px;
}

.text33{
    font-size: 26px;
    color: #393A56;
}

.text3{
    margin-top: 24px;
    width: 560px;
    height: 328px;
    color: #393A56;;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter';
    background-color: rgb(255, 255, 255);
    margin-bottom: 90px;
}





.flex-container4{
    display: flex ;
    margin-bottom: 84px;
}

.text44{
    font-size: 26px;
    color: #393A56;
}

.text4{
    margin-top: 24px;
    width: 560px;
    height: 328px;
    color: #393A56;;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter';
    background-color: rgb(255, 255, 255);
    margin-bottom: 90px;
}
