<<<<<<< HEAD
<<<<<<< HEAD
a {
	color: red;
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
    width: 1920px;
}

.wreaper{
    flex-direction: row;
    margin-left: 250px;
    margin-right: 250px;
    max-width: 1920px;
    font-family: 'Inter';
}

.flex-item{
    padding: 10px;
    color: white;
}

p{
    margin-top: 1em;

}




.header{
    text-align: center;
    margin-top: 80px;
    color: #242A56;
    font-size: 38px;
    font-family: 'Inter';
}




.flex-container1{
    display: flex ;
    margin-bottom: 54px;
    margin-top: 35px;
}

.text11{
    font-size: 26px;
    color: #393A56;
}

.text1{
    margin-top: 24px;
    width: 560px;
    height: 328px;
    color: #393A56;;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter';
    background-color: rgb(255, 255, 255);
    margin-bottom: 90px;
}







.flex-container2{
    margin-bottom: 100px;
    display: flex ;
}

.text22{
    font-size: 26px;
    color: #393A56;
}

.text2{
    margin-top: 24px;
    width: 560px;
    height: 328px;
    color: #393A56;;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter';
    background-color: rgb(255, 255, 255);
    margin-bottom: 90px;
}





.flex-container3{
    display: flex ;
    margin-bottom: 78px;
}

.text33{
    font-size: 26px;
    color: #393A56;
}

.text3{
    margin-top: 24px;
    width: 560px;
    height: 328px;
    color: #393A56;;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter';
    background-color: rgb(255, 255, 255);
    margin-bottom: 90px;
}





.flex-container4{
    display: flex ;
    margin-bottom: 84px;
}

.text44{
    font-size: 26px;
    color: #393A56;
}

.text4{
    margin-top: 24px;
    width: 560px;
    height: 328px;
    color: #393A56;;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter';
    background-color: rgb(255, 255, 255);
    margin-bottom: 90px;
>>>>>>> MaxDev
}
=======
* {
    margin: 0;
    padding: 0;
}
body,
html {
    width: 1920px;
    border: 3px solid #000; /*Пізніше прибрати*/
}
h1 {
    text-align: center;
    font-size: 38px;
    color: #242A56;
    margin-top: 80px;
    margin-bottom: 50px;
}
#introduction {
    height: 560px;
    gap: 60px;
    background-color: #EDF4FA;
    border: 3px solid #000;     /*Пізніше прибрати*/
}
.introduction__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.introduction__item {
    width: 43%;
    display: flex;
    flex-direction: row;
    margin: 20px 20px 20px 80px;
    align-items: center;

}
.introduction__item b {
    margin-left: 10px;
    font-size: 20px;
    color: #393A56;
}
/*======================*/

#client {
    display: flex;
    flex-direction: column;
    align-items: center
}

.client__gallery {
    width: 1425px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gallery__item {
    margin: 10px;
}
.contacts {
    width: 1401px;
    height: 324px;
    margin-bottom: 80px;
    border: 3px solid #000; /*Пізніше прибрати*/
    background-color: #376FFF;
    border-radius: 15px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.contacts a {
    text-decoration: none;
    color: #FFFFFF;
}
.contacts__question {
    font-size: 38px;
    width: 500px;
}
.contacts__link {
    font-size: 26px;
    margin-top: 40px;
}
.contacts__tell {
    font-size: 68px;
    text-decoration: underline;
}
#collBack {

}
.collBack {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo {
    margin-bottom: 80px;
}
.mapSection {
    margin: 20px;
    width: 680px;
    margin-bottom: 40px;
}
.mapSection__lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;

}
.mapSection__list {
    width: 320px;
}
.f {
    font-size: 20px;
    color: #EDF4FA;
}
.mapSection__text {
    font-size: 20px;
    color: #8B9BAB;
}
.map {
    margin-top: 80px;
}
.mail {
    font-size: 20px;
    font-weight: bold;
    color: #376FFF;
}
.adress {
    font-size: 20px;
    font-weight: bold;
    color: #393A56;
}
.telNumber {
    font-size: 26px;
    font-weight: bold;
    color: #376FFF;
}
.contactForm {
    background-color: #376FFF;
    border-radius: 15px;
    width: 550px;
    height: 600px;
    padding: 60px;
}
.contactForm>p {
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 40px;
}
.contactForm__quest {
    font-size: 40px;
    color: #FFFFFF;
}

iframe {
    border-radius: 15px;
}
.form__list input,
.form__list textarea {
    height: 50px;
    width: 80%;
    padding: 9px 16px 9px;
    background-color: #376FFF;
    border: 2px solid #fff;
    color: #fff;
    box-shadow: none;
    border-radius: 12px;
    outline: none;
    margin-bottom: 20px;
}
.btn {
    width: 208px;
    height: 60px;
    background-color: #FFFFFF;
    color: #376FFF;
    border-radius: 15px;
}
.checkbox {
    background-color: #fff;
}
.form__btn {
    font-size: 16px;
    color: #C1D3DE;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.checkbox__qest a {
    color: #C1D3DE;
}
footer {
    padding: 40px 0px 60px 268px;
}
footer a {
    font-size: 16px;
    color: #8B9BAB;
}
>>>>>>> 7e3412553be0375727bf181357baac7abaa7ce1c
