
.propositions{
 background-color: #393A56;
 height: 682px;
 width:1920px;
 margin-left: auto;
 margin-right: auto;
 margin-top:0;
}
.propos_main_content{
    margin-left: 260px;
    margin-right: 260px;
}
.propositions_title{
padding-top: 80px;
color:#FFFFFF;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 38px;
line-height: 40px;
margin-left: 500px;
}
.main-propos{
    position:inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    max-width: 1400px;}
.line{
border-bottom: #8B9BAB;
border-style: solid;
height: 1px;
width: 320px;
margin-top: 60px;
}

.prop_icon{
width: 60px;
height: 60px;
margin-top: 44px;
}
.propose_names{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    margin-top: 46px;
 
}
.propose_text{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
padding-top: 24px;
max-width: 320px;
}
.work_steps{
    height: 1046px;
    width:1920px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}
.work_step_title{
width: 284px;
height: 40px;
margin-top: 80px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 38px;
line-height: 40px;
margin-left: 557px;
color: #242A56;
}
.stages1{
    display: flex;
    flex-direction: column;
    max-width:440px;
}
.stages2{
    display: flex;
    flex-direction: column;
    max-width:440px;
}
.stages3{
    display: flex;
    flex-direction: column;
    max-width:440px;
}
.stages4{
    display: flex;
    flex-direction: column;
    max-width:440px;
}
.stages5{
    display: flex;
    flex-direction: column;
    max-width:440px;
}
.stages6{
    display: flex;
    flex-direction: column;
    max-width:440px;
}
.lines{
    border-bottom:#C1D3DE;
    border-style: solid;
    height: 1px;
    width: 440px;
    margin-top: 60px;
}
.logo_stages{
    margin-top: 44px;
}
.stage_title{
width: 440px;
height: 34px;
margin-top: 44px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 130%;
}
.stages_text{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
color: #393A56;
}
.stages{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
}
.row_stages1{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.row_stages2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 57px;
}

